<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NextGen Connect Report</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="./assets/css/bulma.min.css"/>
        <link rel="stylesheet" type="text/css" href="./assets/css/fontawesome/css/all.min.css"/>
    </head>
    <body>
        <section class="section">
            <div class="container is-fluid" id="app">
                <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" name="report" accept="application/json,application/text+xml,text/xml" @change="onFileChange">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label"></span>
                        </span>
                        <span class="file-name">{{ currentReport.name }}</span>
                    </label>
                </div>
                <br/>
                <template v-if="uploadError">
                    <div class="notification is-warning" v-html="errorMessage">
                        <br/>
                    </div>
                </template>
                <progress class="progress is-large is-info" max="100" v-if="isLoading">60%</progress>
                <template v-if="isLoaded">
                    <h1 class="title" v-if="serverSettings.serverName">{{ serverSettings.serverName }}</h1>
                    <h1 class="title" v-else>No Server Name</h1>
                    <h2 class="subtitle">NextGen Connect {{ serverSettings.version }}</h2>
                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <div>
                            <p class="heading">Channels</p>
                            <a href="#channels"><p class="title">{{ channels.length }}</p></a>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                            <p class="heading">Channels Enabled</p>
                            <a href="#channels"><p class="title">{{ channels.filter(channel => channel.enabled).length }}</p></a>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                            <p class="heading">Channel Groups</p>
                            <a href="#channelGroups"><p class="title">{{ channelGroups.length }}</p></a>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                            <p class="heading">Channel Tags</p>
                            <a href="#channelTags"><p class="title">{{ channelTags.length }}</p></a>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                            <p class="heading">Pruning Disabled</p>
                            <a href="#noPruning"><p class="title">{{ noMetadataPruning.length }}</p></a>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                            <p class="heading">Non-Production Storage</p>
                            <a href="#noStorage"><p class="title">{{ nonProductionStorage.length }}</p></a>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                            <p class="heading">No Description</p>
                            <a href="#noDescription"><p class="title">{{ noDescription.length }}</p></a>
                            </div>
                        </div>
                    </nav>
                    <template v-if="channelGroups.length > 0">
                        <div class="columns">
                            <div class="column">
                                <div id="channelGroups" class="tags has-addons">
                                    <span class="tag is-dark is-large">Channel Groups</span>
                                    <span class="tag is-info is-large">{{ channelGroups.length }}</span>
                                </div>
                            </div>
                            <div class="column">
                                <a href="#top"><span class="tag is-light is-large is-pulled-right">Back to Top</span></a>
                            </div>
                        </div>
                        <channel-table v-bind:channel-group="channelGroups" v-bind:columns="columns.channelGroups" v-bind:cells="tds.channelGroups"></channel-table>
                    </template>
                    <template v-if="channelTags.length > 0">
                        <div class="columns">
                            <div class="column">
                                <div id="channelTags" class="tags has-addons">
                                    <span class="tag is-dark is-large">Channel Tags</span>
                                    <span class="tag is-info is-large">{{ channelTags.length }}</span>
                                </div>
                            </div>
                            <div class="column">
                                <a href="#top"><span class="tag is-light is-large is-pulled-right">Back to Top</span></a>
                            </div>
                        </div>
                        <channel-table v-bind:channel-group="channelTags" v-bind:columns="columns.channelTags" v-bind:cells="tds.channelTags"></channel-table>
                    </template>
                    <template v-if="noMetadataPruning.length > 0">
                        <div class="columns">
                            <div class="column">
                                <div id="noPruning" class="tags has-addons">
                                    <span class="tag is-dark is-large">No Pruning Enabled</span>
                                    <span class="tag is-info is-large">{{ noMetadataPruning.length }}</span>
                                </div>
                            </div>
                            <div class="column">
                                <a href="#top"><span class="tag is-light is-large is-pulled-right">Back to Top</span></a>
                            </div>
                        </div>
                        <channel-table v-bind:channel-group="noMetadataPruning" v-bind:columns="columns.noMetadataPruning" v-bind:cells="tds.noMetadataPruning"></channel-table>
                    </template>
                    <template v-if="nonProductionStorage.length > 0">
                        <div class="columns">
                            <div class="column">
                                <div id="noStorage" class="tags has-addons">
                                    <span class="tag is-dark is-large">Development Storage</span>
                                    <span class="tag is-info is-large">{{ nonProductionStorage.length }}</span>
                                </div>
                            </div>
                            <div class="column">
                                <a href="#top"><span class="tag is-light is-large is-pulled-right">Back to Top</span></a>
                            </div>
                        </div>
                        <channel-table v-bind:channel-group="nonProductionStorage" v-bind:columns="columns.nonProductionStorage" v-bind:cells="tds.nonProductionStorage"></channel-table>
                    </template>
                    <template v-if="noDescription.length > 0">
                        <div class="columns">
                            <div class="column">
                                <div id="noDescription" class="tags has-addons">
                                    <span class="tag is-dark is-large">No Descriptions</span>
                                    <span class="tag is-info is-large">{{ noDescription.length }}</span>
                                </div>
                            </div>
                            <div class="column">
                                <a href="#top"><span class="tag is-light is-large is-pulled-right">Back to Top</span></a>
                            </div>
                        </div>
                        <channel-table v-bind:channel-group="noDescription" v-bind:columns="columns.noDescription" v-bind:cells="tds.noDescription"></channel-table>
                    </template>
                    <div class="columns">
                        <div class="column">
                            <div id="channels" class="tags has-addons">
                                <span class="tag is-dark is-large">All Channels</span>
                                <span class="tag is-info is-large">{{ channels.length }}</span>
                            </div>
                        </div>
                        <div class="column">
                            <a href="#top"><span class="tag is-light is-large is-pulled-right">Back to Top</span></a>
                        </div>
                    </div>
                    <table class="table is-striped is-fullwidth is-hoverable content">
                        <thead>
                            <tr class="has-background-grey-dark">
                                <th class="has-text-white">Name</th>
                                <th class="has-text-white">Enabled</th>
                                <th class="has-text-white">Storage</th>
                                <th class="has-text-white">Pruning (days)</th>
                                <th class="has-text-white">Description</th>
                            </tr>
                        </thead>
                        <tbody class="content is-small">
                            <tr v-for="channel in channels">
                                <td>{{ channel.prettyName }}</td>
                                <td v-if="channel.enabled">Enabled</td>
                                <td v-bind:class="{ 'has-background-info': !channel.enabled }" v-else>Not Enabled</td>
                                <td v-bind:class="{ 'has-background-danger': channel.developmentStorage }">
                                    {{ channel.messageStorageMode[0].toUpperCase() + channel.messageStorageMode.slice(1) }}
                                </td>
                                <td v-bind:class="{ 'has-background-danger': !channel.hasPruning }" v-if="channel.hasPruning">
                                    {{ channel.pruneMetaData }}
                                </td>
                                <td v-bind:class="{ 'has-background-danger': !channel.hasPruning }" v-else>
                                    No Pruning
                                </td>
                                <td v-bind:class="{ 'has-background-danger': !channel.hasDescription }" v-if="channel.hasDescription">
                                    {{ channel.description }}
                                </td>
                                <td v-bind:class="{ 'has-background-danger': !channel.hasDescription }" v-else>
                                    No Description
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </template>
            </div>
        </section>
    </body>
    <script src="./assets/js/vue-prod.js"></script>
    <script src="./assets/js/lodash-4.17.14.core.min.js"></script>
    <script src="./assets/js/main.js"></script>
</html>