<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Connect Stats</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="./assets/css/bulma/bulma.min.css"/>
        <link rel="stylesheet" type="text/css" href="./assets/css/fontawesome/css/all.min.css"/>
        <link rel="stylesheet" type="text/css" href="./assets/css/nprogress/nprogress.css"/>
    </head>
    <body>
        <section class="section">
            <div class="container is-fluid" id="app">
                <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" name="report" accept="application/json,application/text+xml,text/xml" @change="onFileChange">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label"></span>
                        </span>
                        <span class="file-name">{{ currentReport.name }}</span>
                    </label>
                </div>
                <br/>
                <template v-if="showMessage">
                    <div class="notification is-warning" v-html="notification">
                        <br/>
                    </div>
                </template>
                <template v-if="isLoaded">
                    <h1 class="title" v-if="serverSettings.serverName">{{ serverSettings.serverName }}</h1>
                    <h1 class="title" v-else>No Server Name</h1>
                    <h2 class="subtitle">Version {{ serverSettings.version }}</h2>
                    <nav class="level">
                        <template>
                            <div class="level-item has-text-centered" v-for="group in groups">
                                <div>
                                    <p class="heading">{{ group.label }}</p>
                                    <a v-bind:href="'#' + group.name"><p class="title">{{ group.items.length }}</p></a>
                                </div>
                            </div>
                        </template>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Tags</p>
                                <a href="#tags"><p class="title">{{ channelTags.length }}</p></a>
                            </div>
                        </div>
                    </nav>
                    <template v-for="group in groups">
                        <channel-table v-bind:channel-group="group.items" v-bind:id="group.name" v-bind:title="group.label" v-bind:columns="group.columns" v-bind:cells="group.tds"></channel-table>
                    </template>
                    <template v-if="channelTags.length > 0">
                        <h1 class="title">Tags</h1>
                        <div class="field is-grouped is-grouped-multiline" id="tags">
                            <div class="control" v-for="tag in channelTags">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">{{ tag.name }}</span>
                                    <span class="tag" v-bind:style="{ backgroundColor: tag.backgroundColor, color: tag.fontColor }">{{ tag.channelCount }}</span>
                                </div>
                            </div>
                        </div>
                    </template>
                </template>
            </div>
        </section>
    </body>
    <script src="./assets/js/vue/prod.js"></script>
    <script src="./assets/js/lodash/lodash-4.17.14.core.min.js"></script>
    <script src="./assets/js/nprogress/nprogress.js"></script>
    <script src="./assets/js/main.js"></script>
</html>